<div id="example-card">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar *ngIf = "categoryImage"> 
             <img src= {{categoryImage}}> 
          </div>
          <mat-card-title>
            <select #mySelect
            (change)='onSelect(mySelect.value)'>
                <option value="" selected>{{category}}</option>
                <ng-container *ngFor="let categor of categories">
                    <option *ngIf="categor.cat!=category" [value]="categor.id">
                  {{categor.cat}}
                </option>
                </ng-container>
            </select>
        </mat-card-title>
          <mat-card-subtitle>classification result</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <p>
            <b>
              Movie:   
            </b>
         
              {{classifyService.movieName}}
            </p>
            <p>
            <b>
                Review:   
            </b>
        
            {{classifyService.doc}}
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <button   class="change"  color="primary" (click) = "addClassifyToFirestore()"  mat-raised-button >Save review</button>
        </mat-card-actions>
      </mat-card>
    
    </div>