<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf = "(authService.user | async)?.uid" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      
    <mat-toolbar style="color:white">Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/classify" routerLinkActive="active">classify</a>
      <!-- <a mat-list-item routerLink="/classified_articles" routerLinkActive="active">classified articles</a> -->
      <a mat-list-item routerLink="/saved_reviews" routerLinkActive="active">classified</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #2b3e50;">
    <mat-toolbar class="tool">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
       
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> <img  src="assets/logo_removed.png" ></span>

        <!-- <span>{{title}}</span> -->
<!-- login -->
        <span class = "spacer"></span>
        <a class = "whitelink" 
          *ngIf = "!(authService.user | async)?.uid" 
          routerLink="/signup" routerLinkActive="active">{{title1}}</a>
    
          
       <a class = "whitelink" 
        *ngIf = "!(authService.user | async)?.uid" 
        routerLink="/login" routerLinkActive="active">{{title2}}</a>

        <!-- logout -->
        <a class = "whitelink" 
        *ngIf = "(authService.user | async)?.uid" 
       (click) = "authService.Logout()">Logout</a>    

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet>
      
    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
