.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #4e5d6c;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}
.whitelink {
  color:white;
  text-decoration: none;
  cursor:pointer;
  margin-right:10px;
}
.tool{
  /* background-color: #D2691E; */
  background-color: #2b3e50;
  color: white;
}

.mat-list-item{color:white;}

 .mat-list-item:hover{background-color:#D2691E;}