img {
    height:40px;
    width:40px;
    margin: 0 4%;
  }

  #addClassifyBtn:hover{
        background-color: #df481a;
    }

    #addClassifyBtn{
        margin:  0 10px;
        background-color: #df691a;
        border-radius: 10px;
        line-height: 27px;
        padding: 0 17px;
        }

       .review{
            margin: 5px 0;
            padding: 0 10px;
      }  
