<div style="color: white; padding: 0 15px;"  *ngIf = "!(isLoading)">Loading...</div>
<div >
  <button  id="addClassifyBtn" mat-raised-button color="primary" routerLink="/classify">Add classify</button>
</div>
<br>
<div style="color: white; padding: 0 15px;" > <h3>My classified movies </h3> </div>
<div class="review">
  <mat-accordion>
    <mat-expansion-panel *ngFor = "let review of reviews$ ">
      <!-- <div *ngIf = "comment.movieId == review.movieId ;other"> -->
      <mat-expansion-panel-header >
          <mat-panel-title>
            <b> {{review.movie}}</b> 
           
            <!-- <img src= {{review.didLike}} > -->
          </mat-panel-title>
      </mat-expansion-panel-header>  
    <!-- </div>        -->
            <div *ngFor = "let comment of comments">
              <div *ngIf = "comment.movie == review.movie ;other">
                
                <b>Comment: </b> <em>{{comment.review}}   </em>

              <img src= {{comment.didLike}} >
              <br>

                <button mat-raised-button color="warn"  (click)=deleteClassify(comment.id)> 
                Delete comment
               </button> 
               &nbsp;
               <br>
            </div>
          </div>
    
    </mat-expansion-panel>
    
  </mat-accordion>
</div>