
  h4{
    color: rgb(231, 129, 56);
    font-size: 19px;
    font-weight: 400;
    font-family:inherit;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    	
  }

  p{
      color:#ebebeb;
      font-size: 15px;
      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 1.42857143;
  }


a{
    color: rgb(231, 129, 56);   
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
} */




img {
  width: 100%;
}
.card .card-title {
  font-size: 15px;
  font-weight: 300;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


