
<div  *ngIf="movies" style="padding: 0 2%;" >
    <h3 class="orange-text">{{title}}</h3>
    <div class="row is-flex">
      <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies; let i = index;">
        <app-card-movie [movie]="movie"></app-card-movie>
      </div>
    </div>
  </div>
  
  